<div class="Landing-Container" ng-controller="LandingCtrl">
	<br>
	<br>
	<md-card>
	<img ng-src="{{landingImage}}" class="md-card-image" alt="Cinema Session Guide">
	<md-card-content>
	<h2 class="md-title"> Cinema Session Guide </h2>
	<p>
		This is a simple Cinema session guide app. This is built on top of Lavarel5, AngularJS with Material Framework.<br>
		<br>
		For futher details about this app check out <strong>Readme.md</strong>.<br>
	</p>
</md-card-content>
<div class="md-actions" layout="row" layout-align="end center">
	<md-button ng-click="showDialog()">Alert Dialog</md-button>
	<md-button ng-click="toastNotification()">Toast Notification</md-button>
</div>
</md-card>
<br>
<div class="Landing-CallToAction">
	<md-button ui-sref="dashboard" class="md-raised md-primary">Go to the Dashboard!</md-button>
</div>
</div>




